body {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CAFAFE;
}   

#header {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

h1 {
    font-family: 'Pacifico', cursive;;
    font-weight: bold;
    font-size: 64px;
    color: #329ba8;
    text-shadow: 5px 5px #f1faa1;
}

#button {
    background-color: rgb(241, 69, 69);
    border-radius: 2px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

#box-around {
    background-color: #b1abab;
    height: auto;
    width: auto;
    border-radius: 5px;
}

#boxes {
    display: flex;    
    flex-wrap: wrap;
    background-color: #fff;
    margin: 50px;
    
}
/* Github div */

#git {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
   
}

span {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    
}

a {
    margin: 5px;
}

img {
    vertical-align: middle;
    border-radius: 50%;
}